player-connection-mode=Listen
player-connection-guid=621721578
player-connection-debug=0
player-connection-project-name=RIPPLE
player-connection-ip=192.168.0.69
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=add88b5f2dce4d3fae2cb0c13a5d8193
